<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.zero.model.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sample_id" jdbcType="INTEGER" property="sampleId" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="delivery_number" jdbcType="VARCHAR" property="deliveryNumber" />
    <result column="po_number" jdbcType="VARCHAR" property="poNumber" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="sample_code" jdbcType="VARCHAR" property="sampleCode" />
    <result column="needle" jdbcType="VARCHAR" property="needle" />
    <result column="style" jdbcType="VARCHAR" property="style" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="material" jdbcType="VARCHAR" property="material" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creater" jdbcType="INTEGER" property="creater" />
    <result column="modifier" jdbcType="INTEGER" property="modifier" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="winning_bid" jdbcType="INTEGER" property="winningBid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sample_id, order_code, delivery_number, po_number, order_time, type, sample_code, 
    needle, style, status, material, company, brand, photo_url, is_deleted, create_time, 
    update_time, creater, modifier, remarks, winning_bid
  </sql>
  <select id="selectByExample" parameterType="com.zero.model.example.OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null and offset != null">
      limit #{limit} offset #{offset}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zero.model.example.OrderExample">
    delete from t_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zero.model.Order" useGeneratedKeys="true" keyProperty="id">
    insert into t_order (id, sample_id, order_code, 
      delivery_number, po_number, order_time, 
      type, sample_code, needle, 
      style, status, material, 
      company, brand, photo_url, 
      is_deleted, create_time, update_time, 
      creater, modifier, remarks, winning_bid
      )
    values (#{id,jdbcType=INTEGER}, #{sampleId,jdbcType=INTEGER}, #{orderCode,jdbcType=VARCHAR}, 
      #{deliveryNumber,jdbcType=VARCHAR}, #{poNumber,jdbcType=VARCHAR}, #{orderTime,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=INTEGER}, #{sampleCode,jdbcType=VARCHAR}, #{needle,jdbcType=VARCHAR}, 
      #{style,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{material,jdbcType=VARCHAR}, 
      #{company,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, #{photoUrl,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{creater,jdbcType=INTEGER}, #{modifier,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, #{winningBid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zero.model.Order" useGeneratedKeys="true" keyProperty="id">
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sampleId != null">
        sample_id,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="deliveryNumber != null">
        delivery_number,
      </if>
      <if test="poNumber != null">
        po_number,
      </if>
      <if test="orderTime != null">
        order_time,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="sampleCode != null">
        sample_code,
      </if>
      <if test="needle != null">
        needle,
      </if>
      <if test="style != null">
        style,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="material != null">
        material,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="photoUrl != null">
        photo_url,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="winningBid != null">
        winning_bid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sampleId != null">
        #{sampleId,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deliveryNumber != null">
        #{deliveryNumber,jdbcType=VARCHAR},
      </if>
      <if test="poNumber != null">
        #{poNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="sampleCode != null">
        #{sampleCode,jdbcType=VARCHAR},
      </if>
      <if test="needle != null">
        #{needle,jdbcType=VARCHAR},
      </if>
      <if test="style != null">
        #{style,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="material != null">
        #{material,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="photoUrl != null">
        #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=INTEGER},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="winningBid != null">
        #{winningBid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zero.model.example.OrderExample" resultType="java.lang.Long">
    select count(*) from t_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sampleId != null">
        sample_id = #{record.sampleId,jdbcType=INTEGER},
      </if>
      <if test="record.orderCode != null">
        order_code = #{record.orderCode,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryNumber != null">
        delivery_number = #{record.deliveryNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.poNumber != null">
        po_number = #{record.poNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.orderTime != null">
        order_time = #{record.orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.sampleCode != null">
        sample_code = #{record.sampleCode,jdbcType=VARCHAR},
      </if>
      <if test="record.needle != null">
        needle = #{record.needle,jdbcType=VARCHAR},
      </if>
      <if test="record.style != null">
        style = #{record.style,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.material != null">
        material = #{record.material,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null">
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.brand != null">
        brand = #{record.brand,jdbcType=VARCHAR},
      </if>
      <if test="record.photoUrl != null">
        photo_url = #{record.photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creater != null">
        creater = #{record.creater,jdbcType=INTEGER},
      </if>
      <if test="record.modifier != null">
        modifier = #{record.modifier,jdbcType=INTEGER},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.winningBid != null">
        winning_bid = #{record.winningBid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_order
    set id = #{record.id,jdbcType=INTEGER},
      sample_id = #{record.sampleId,jdbcType=INTEGER},
      order_code = #{record.orderCode,jdbcType=VARCHAR},
      delivery_number = #{record.deliveryNumber,jdbcType=VARCHAR},
      po_number = #{record.poNumber,jdbcType=VARCHAR},
      order_time = #{record.orderTime,jdbcType=TIMESTAMP},
      type = #{record.type,jdbcType=INTEGER},
      sample_code = #{record.sampleCode,jdbcType=VARCHAR},
      needle = #{record.needle,jdbcType=VARCHAR},
      style = #{record.style,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      material = #{record.material,jdbcType=VARCHAR},
      company = #{record.company,jdbcType=VARCHAR},
      brand = #{record.brand,jdbcType=VARCHAR},
      photo_url = #{record.photoUrl,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      creater = #{record.creater,jdbcType=INTEGER},
      modifier = #{record.modifier,jdbcType=INTEGER},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      winning_bid = #{record.winningBid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zero.model.Order">
    update t_order
    <set>
      <if test="sampleId != null">
        sample_id = #{sampleId,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="deliveryNumber != null">
        delivery_number = #{deliveryNumber,jdbcType=VARCHAR},
      </if>
      <if test="poNumber != null">
        po_number = #{poNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null">
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="sampleCode != null">
        sample_code = #{sampleCode,jdbcType=VARCHAR},
      </if>
      <if test="needle != null">
        needle = #{needle,jdbcType=VARCHAR},
      </if>
      <if test="style != null">
        style = #{style,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="material != null">
        material = #{material,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="photoUrl != null">
        photo_url = #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=INTEGER},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="winningBid != null">
        winning_bid = #{winningBid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zero.model.Order">
    update t_order
    set sample_id = #{sampleId,jdbcType=INTEGER},
      order_code = #{orderCode,jdbcType=VARCHAR},
      delivery_number = #{deliveryNumber,jdbcType=VARCHAR},
      po_number = #{poNumber,jdbcType=VARCHAR},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER},
      sample_code = #{sampleCode,jdbcType=VARCHAR},
      needle = #{needle,jdbcType=VARCHAR},
      style = #{style,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      material = #{material,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      photo_url = #{photoUrl,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=INTEGER},
      modifier = #{modifier,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      winning_bid = #{winningBid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateStatus" >
    update t_order
    set status = #{newStatus,jdbcType=INTEGER},
      update_time = now()
    where id = #{orderId,jdbcType=INTEGER} and status = #{oldStatus,jdbcType=INTEGER}
  </update>

  <resultMap type="com.zero.model.Order" id="ordersAndOrderDetailResultMap" extends="BaseResultMap">
    <collection property="batchDetails" ofType="com.zero.model.OrderBatch">
      <id column="batch_id" jdbcType="INTEGER" property="id" />
      <result column="batch_order_id" jdbcType="INTEGER" property="orderId" />
      <result column="batch_delivery_number" jdbcType="VARCHAR" property="deliveryNumber" />
      <result column="batch_po_number" jdbcType="VARCHAR" property="poNumber" />
      <result column="batch_color" jdbcType="VARCHAR" property="color" />
      <result column="batch_is_deleted" jdbcType="INTEGER" property="isDeleted" />
      <result column="batch_create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="batch_update_time" jdbcType="TIMESTAMP" property="updateTime" />
      <result column="batch_creater" jdbcType="INTEGER" property="creater" />
      <result column="batch_modifier" jdbcType="INTEGER" property="modifier" />
      <result column="batch_remarks" jdbcType="VARCHAR" property="remarks" />
      <collection property="details" ofType="com.zero.model.OrderDetail">
        <id column="detail_id" jdbcType="INTEGER" property="id" />
        <result column="order_id" jdbcType="INTEGER" property="orderId" />
        <result column="size_type" jdbcType="VARCHAR" property="sizeType" />
        <result column="num" jdbcType="INTEGER" property="num" />
        <result column="color" jdbcType="VARCHAR" property="color" />
        <result column="detail_deleted" jdbcType="INTEGER" property="isDeleted" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="creater" jdbcType="INTEGER" property="creater" />
        <result column="modifier" jdbcType="INTEGER" property="modifier" />
        <result column="remarks" jdbcType="VARCHAR" property="remarks" />
      </collection>
    </collection>
  </resultMap>
  <!-- 查询订单关联查询用户及订单明细 -->
  <select id="findOrdersAndOrderDetailList" parameterType="com.zero.model.example.OrderExample" resultMap="ordersAndOrderDetailResultMap">
    SELECT
      t1.*,
      t2.id detail_id,
      t2.order_id,
      t2.size_type,
      t2.num,
      t2.color,
      t2.create_time detail_create_time,
      t2.update_time detail_update_time,
      t2.creater detail_creater,
      t2.modifier detail_modifier,
      t2.remarks detail_remarks,
      t3.id batch_id,
      t3.order_id batch_order_id,
      t3.delivery_number batch_delivery_number,
      t3.po_number batch_po_number,
      t2.color batch_color,
      t3.create_time batch_create_time,
      t3.update_time batch_update_time,
      t3.creater batch_creater,
      t3.modifier batch_modifier,
      t3.remarks batch_remarks
    FROM
      (
      select * from t_order
      <if test="_parameter != null">
        <include refid="Example_Where_Clause" />
      </if>
      <if test="orderByClause != null">
        order by ${orderByClause}
      </if>
      <if test="limit != null and offset != null">
        limit #{limit} offset #{offset}
      </if>
      ) t1 LEFT JOIN t_order_batch t3 on(t1.id = t3.order_id and t3.is_deleted = 0)
    left join t_order_detail t2
    on (t3.id = t2.order_id and t2.is_deleted = 0)
    order by t1.create_time desc
    </select>
</mapper>